body {
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  font-size: 16;
  height: 100%;
}

.login-wrap {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  border: 1px none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  height: 50%;
  width: 40%;
  color: white;
}

.login-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}



input {
  padding: 4%;
}

.login-input {
  display: flex;
  margin: 4%;
  margin-left: 0;
  margin-top: 8%;
}


label {
  display: block;
  padding: 4%;
  min-width: 80px;
}

.login-input > label {
  font-size: 20px
}

.login-input > input {
  border: 1px solid black;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 1%;
}

.login-inner > button {
  align-self: center;
  margin-top: 5%;
  margin-bottom: 10%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4%;
  font-size: 20px;
  min-width: 40%;
}

.login-error {
  margin-left: 0% !important;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 100% !important;
  text-align: center;
  margin-right: 0% !important;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width : 480px) {
  .login {
    width: 90%;
  }

  .login-input {
    flex-wrap: wrap;
  }

  .login-input > input {
    width: 80%;
  }

  .login-inner {
    padding-left: 4%;
  }
}


@media only screen and (max-width : 768px) {
  .login {
    width: 80%;
  }

  .login-input {
    flex-wrap: wrap;
  }

}

@media only screen and (max-width : 1200px) {
  .login {
    width: 70%;
  }
}
